.fourthcontent{
  padding: 5% 2% 1% 2%;
}

.accordion-list {
    padding: 0 1% 0 1%;
    margin-bottom: 0.5em;
    .section,
    .section-active {
        --min-height: 6em;
    }
}
  .section{
    --ion-item-background:#8091B3;  }
  .section-active{
   --ion-item-background:#8091B3;
  }
  .buttondiscusspendingacceptsession{
    font-size:medium;
    position: absolute;
    padding: 6px;
    margin-top: 30px;
    background-color: #4B5C7C;
    border-radius: 10px;
    color: white;
  }
  .defaultgreenfont{
    color:black
  }
  //End Session
  .accordion-listEnd {
    padding: 0 1% 0 1%;
    margin-bottom: 0.5em;
    .sectionEnd,
    .sectionEnd-active {
      --min-height: 6em;
    }
}
  .sectionEnd{
    --ion-item-background:#b2b2b2;
  }
  .sectionEnd-active{
   --ion-item-background:#b2b2b2;
  }
  .buttonEndsession{
    font-size: medium;
    color:#808080;
    background-color: transparent;
    top:30px;
  }
  