ion-content {
  --background: url('/assets/images/Profile.jpg') no-repeat ;
  // position: relative;
  // height: 100%;
  // width: 100%;
}

ion-toolbar {
  --background: transparent;
}

ion-label {
  font-weight: bold;
}

.card {
  margin: 0 auto;
  border: none;
  box-shadow: none;
  padding:10px;

  .header {
      height: 290px;

      .avatar {
          width: 270px;
          height: 270px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              border-radius: 50%;
              position: absolute;
              top: 5px;
              border: 8px solid #4B5C7C;
              background-color: #fff;
          }
      }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 10px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
      //padding-top: 40px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #303940;
      }

     
  }
}

ion-button{
  white-space: normal;
  --box-shadow:none;
  --color-activated:#f8f8f8;
}