<!-- <ion-popover-view slot="end">
  <ion-content>
    <div class="list">
      <a class="item" (click)="OpenModal()">
        View Account
      </a>
      <a class="item" (click)="Help()">
        Help
      </a>
      <a class="item" (click)="presentAlertLogout()">
        Logout
      </a>
    </div>
  </ion-content>
</ion-popover-view> -->

<ion-popover-view class="fit">

<ion-list lines="full" style="text-align: center; height: auto;">
  <ion-item button (click)="OpenModal()">View Account</ion-item>
  <ion-item button (click)="Help()">Help</ion-item>
  <ion-item button>Logout</ion-item>
</ion-list>

</ion-popover-view>


