.center {
    text-align: center;
}
.forgot {
    text-align: right;
    padding: 10px;
    color: gray;
}

.vertical-center {
   
        display: flex;
        align-items: center;
        // padding: 10px;

    }

.button {
    font-family: 'Roboto';
    padding: 1000;
}

h1 {
    font: #3f434b(rgb(63,67,75));
}

.center1 {
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
}

.ionbutton {
    // --width: 500px;
    --vertical-align: middle;
    --padding-start: 100px;
    --padding-end: 100px;
    
  }

 