<ion-content padding='true' class="vertical-center">
  <br><br><br><br><br><br>
  <div class="center" style="padding: 10px;">
    <!-- <img src="assets/images/logo.jpg" class="smallLogo"/> -->
    <h1>Instructor</h1>
    <h2>Student Learning Platform</h2>
  </div>
  <br>
  <form>
    <ion-list lines="none" style="padding: 10px;">
      <ion-item class="ionitem" lines="none">
        <!-- <ion-label position="stacked">Username</ion-label> -->
        <ion-icon name="person-outline"></ion-icon>
        <ion-input autocomplete="off" type="text" name="username" placeholder=" Username"
          [(ngModel)]="postData.Username"></ion-input>
      </ion-item>

      <ion-item class="ionitem" lines="none">
        <!-- <ion-label position="stacked">Password</ion-label> -->
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input placeholder=" Password" autocomplete="off" [type]="showPassword3 ? 'text': 'password'"
          name="password" [(ngModel)]="postData.Password"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon3" (click)="togglePassword3()"></ion-icon>
      </ion-item>
      <div class="forgot">
        <p (click)="OpenEmailComposer()">Forgot?</p>
      </div>
      <br>
      <br>
      <div class="button" div class="center">
        <ion-button class="ionbutton" style="color:white" (click)="Login()" routerDirection="root">Sign In</ion-button>
      </div>
      <br>
      <br>
      <p class="center1" (click)="signup()" style="margin:auto; text-align:center; display:block;">Sign Up For An Account
      </p>
    </ion-list>

  </form>
</ion-content>