.tab-selected {
    background-color: #4B5C7C;
    color: #DBD3D8;
    --ripple-color: black;
}

ion-tab-button:not(.tab-selected) {
  background-color: #8C9CBA;
  color:#4B5C7C;
}

ion-tab-bar {
    border-width: medium;
    border-color: white
}
