<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" (click)="check(0);">
      <ion-icon name="home" style="zoom:1.2;"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="session-view" (click)="check(1);">
      <ion-icon name="people-circle" style="zoom:1.2;"></ion-icon>
      <ion-label>Session</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" (click)="check(2);">
      <ion-icon name="settings" style="zoom:1.2;"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
