.center{
    text-align: center;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    //overflow-y: scroll;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
  ion-item {
    border:none;
    padding: 0em;
  }

.card-chart {
  height: 550px;
  overflow: scroll;
}

//#chartRapper {
 // height: 300px;
  //overflow-y: scroll;
//}

#tapPopupInfo {
  width: 350px;
  z-index: 2;
  padding-top:15px;
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  
}

#helpText {
  display: none;
  color: black;
}

.select-text {
    overflow: visible;
}
.select-icon {
    position: initial;
    opacity: 0.33;
}

ion-select::part(placeholder) {
  overflow: visible;
}

ion-select::part(text) {
  overflow: visible;
}

ion-select::part(icon) {
  position: initial;
}

