.center{
    text-align: center;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
  ion-item {
    border:none;
    padding: 0em;
  }

.card-chart {
  height: 550px;
  overflow: scroll;
}

#chartRapper {
  height: 300px;
  overflow-y: scroll;
}

#tapPopupInfo {
  padding-top:15px;
}

#helpText {
  display: none;
  color: black;
}