.container{
    padding: 0 4% 0 4%;
  }
  ion-toolbar{
    --min-height:0px!important;
  }
.popovercss{
  border:solid #000000;
  background-color: white;
  margin-bottom:0.5em;
  padding:0.3em;
}
.popoverremovebutton{
  border:solid 0.1em black;
  color:white;
  background-color:#1c91a8;
  float: right;
  padding:0.1em;
}
.popoverinvitebutton{
  border:solid 0.1em black;
  color:white;
  background-color:#1c91a8;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0.5em;
}
.popoverremovedlabel{
  color:blakc;
  float: right;
  padding:0.1em;
}
